/*header css*/

#top_header{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#store_contact{
    display: flex;
    flex: 2;
    margin: 20px 10px 20px 10px;
}
#home_logo{
    width: 20px;
    margin-top: 2px;
}
#page_logo{
    margin-top: 2px;
    width: 25px;  
}
#search_btn{
    margin-top: 10px;
    width: 20px;
    height: 20px;
}
#name_logo{
    width: 350px;
    margin: 20px 10px 10px 80px
}
#input_bar{
    display: flex;
}
#right_head{
    display: flex;
    flex: 3;
    margin: 20px 10px 10px 10px;
}
#search_bar{
    width: 350px;
    height: 40px;
    border: none;
}
#input_bar{
width: 400px;
border-bottom: 1px solid #333;
}
#input_bar:hover{
border-bottom-color: #3f37c9;
}
#contact_a,#store_a{
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #777;
}
#right_head>div{
    margin-left: 20px;
}
#sub_header{
    display: flex;
    margin: 0px 50px 0px 50px;
}
#sub_header>a{
    width: 124px;
    height: 50px;
 padding: 15px 20px 0px 20px;
font-size: 14px;
font-weight: bold;
color: #333;
box-sizing: border-box;
border-bottom: 2px solid white;
font-family: sans-serif;
}
#sub_header>a:hover{
    color: #f94144;
    border-bottom-color:#f94144 ;
}


*{
    font: 1em sans-serif;
    color: #777;
}

#info_foot{
    display: flex;
    height: 180px;
    background-color: lightgray;
}
#info_foot>div{
    flex: 1;
    text-align: center;
    justify-content: center;
    
}
#store_app,#facility,#social_app{
    display: flex;
    align-items: center;
    justify-content: center;
}
#store_app>img{
    width: 130px;
    height: 40px;
    margin-left: 5px;
}
#info_logo{
    width: 40px;
    height: 40px;
}
#facility>div{
    margin-left: 10px;
}
#social_app>img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}
.h3{
    font-weight: 600;
}
#footer_cat {
    display: flex;
    justify-content: space-evenly;
}
#customer_care{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
    font: 1em sans-serif;
}
.cust_white{
    color: white;
}
#BRAND{
  background-color: black;
  border: 1p solid white;
  width: 200px;
  height: 50px;
}
#foot_details{
  padding: 20px 30px 20px 30px ;
}
#foot_head{
  color: black;
  font-weight: 600;
}




